.search-header {
  height: 5rem;
  background: #00838f;
}

.search-bar {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.17000000178813934px;
  text-align: left;
  text-indent: 1rem;
  width: 912px;
  height: 42px;
  margin-top: 19px;
  margin-left: 32px;
  outline: none;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-header > input:focus {
  border: 3px solid;
  border-color: yellow;
}

.search-header > button {
  background: #2196f3;
  color: white;
  width: 105px;
  height: 44px;
  margin-top: 19px;
  margin-left: 8px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
}
