.search-header {
  height: 5rem;
  background: #00838f;
}

.search-bar {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.17000000178813934px;
  text-align: left;
  text-indent: 1rem;
  width: 912px;
  height: 42px;
  outline: none;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  font-style: normal;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  border: 3px solid;
  border-color: yellow;
}

.search-btn {
  width: 105px;
  height: 44px;
}
